/*****************************************************************************/
/* Check: Style */
/*****************************************************************************/
.check {

}
.list-media{
    margin-top:30px;
    margin-bottom: 20px;
}
.media{

}
.media .media-body{
    color:#fff;
}