<template name="DriverTracking">
    {{>Header}}
    <div class="driver-tracking">
      <div class="container-fluid">
        {{>GoogleMap}}
        <div class="col-xs-12">
           {{>DriverInfo}}
        </div>
      </div>
  </div>
</template>
<template name="GoogleMap">
    <div class="googlemap" id="googleMap" style="width:100%;height:240px;">

    </div>
</template>
<template name="DriverInfo">
  <div class="driver-info">
      <div class="col-xs-3">
       <div class="avatar-sm">
           <img src="images/User.png" width="35px" height="35px" alt=""/>
       </div>
      </div>
      <div class="col-xs-6">

      </div>
      <div class="col-xs-3">
          <a class="btn btn-success pull-right">Call</a>
      </div>
  </div>
</template>